.ToDoList {
  height: 400px;
  font-size: 1rem;
  padding: 1em;
  border: 1px solid var(--clr-darker);
  border-radius: 10px;
  background-color: var(--clr-main);
  color: var(--clr-font);

  --clr-font: #eeeeee;
    --clr-main: #263238 ;
  --clr-darker: #37474F ;
    --clr-accent: #27556c ;


}

.ToDoList li {
  list-style-type: none;
}
.ToDoList ul {
  margin: 0;
  padding: 0;
}

.ToDoList button {
  cursor: pointer;
}
.ToDoList input {
  border: none;
  outline: none;
  width: 100%;
  background-color: inherit;
}


.ToDoList .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.ToDoList .todo-add {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ToDoList .todo-add input{
  padding: 1em;
  
}
.ToDoList .todo-row {
  border: 1px solid var(--clr-darker);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
      cursor: grab;

}

.ToDoList .btn-favorite {
    border: none;
    background-color: inherit;
    padding: 0 .4em;
    cursor: pointer;
}

.ToDoList .favorite {
    color: #FFC83D;
}
.ToDoList button {
    border: none;
    background-color: var(--clr-accent);
    padding: 0em .5em;
}



.ToDoList .btn-row {
    height: 100%;
    transition: all 200ms;
}

.ToDoList .btn-trash:hover {
    background-color: red;
}
.ToDoList .btn-edit:hover {
    background-color: purple;
}